@media (max-width: 767px) {
  #wrapper .sidebar.closed {
    width: auto; }
    #wrapper .sidebar.closed .menu-label {
      display: inline-block; } }

@media (max-width: 480px) {
  .dialog-page .page-header {
    margin: 0;
    padding: 5px;
    font-size: 20px; } }
@media (max-width: 480px) {
  .dialog-page .dialog {
    padding-top: 5px; } }

.board-widget .empty-column {
  background: #f5f5f5; }

.task-widget .panel-heading {
  cursor: pointer; }

.dialog-messages {
  height: 500px;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px; }
  .dialog-messages .message.pull-left {
    background: #fcfcfc; }
  .dialog-messages .message.pull-right {
    background: #c7daed; }
  .dialog-messages .message .message-author {
    font-weight: bold; }
  .dialog-messages .message .delete-button {
    height: 15px;
    margin: 0; }
  .dialog-messages .message .create-at {
    min-width: 130px;
    border-top: 1px solid black;
    margin-top: 5px; }
  @media (max-width: 480px) {
    .dialog-messages {
      height: 265px;
      padding-left: 17px;
      padding-right: 17px; }
      .dialog-messages .message.well {
        padding: 10px; }
        .dialog-messages .message.well p {
          margin-bottom: 5px; } }

/*# sourceMappingURL=main.css.map */
