.dialog-messages {
  height: 500px;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
  .message {
    &.pull-left {
      background: #fcfcfc;
    }
    &.pull-right {
      background: #c7daed;
    }
    .message-author {
      font-weight: bold;
    }
    .delete-button {
      height: 15px;
      margin: 0;
    }
    .create-at {
      min-width: 130px;
      border-top: 1px solid black;
      margin-top: 5px;
    }
  }
  @media (max-width: 480px) {
    height: 265px;
    padding-left: 17px;
    padding-right: 17px;
    .message {
      &.well {
        padding: 10px;
        p {
          margin-bottom: 5px;
        }
      }
    }
  }
}