/* BEGIN Project and tasks */

.task-widget {
    max-width: 200px;
}

.task-column {
    width: 216px;
    min-width: 216px;
}

.board-widget {
    border: 1px solid #ddd;
    border-top: none;
    overflow: scroll;
}

.board-widget table.table {
    width: auto;
    margin-bottom: 0;
}

.board-widget .task-column:nth-child(2n) {
    background: #efefef;
}

.board-widget .task-column:nth-child(2n+1) {
    background: #f8f8f8;
}

.board-widget th:nth-child(2n) {
    background: #efefef;
}

.board-widget th:nth-child(2n+1) {
    background: #f8f8f8;
}

/* END Project and tasks */