#wrapper {
  @media (max-width: 767px) {
    .sidebar {
      &.closed {
        width: auto;
        .menu-label {
          display: inline-block;
        }
      }
    }
  }
}

.unreg-wrapper {
  
}