.dialog-page {
  .page-header {
    @media (max-width: 480px) {
      margin: 0;
      padding: 5px;
      font-size: 20px;
    }
  }
  .dialog {
    @media (max-width: 480px) {
      padding-top: 5px;
    }
  }
}